Body{
background-color: lightblue;
font-family:Arial, Helvetica, sans-serif;

}
h1{
    text-align: center;
}
h2{
    color:navy;
text-decoration: underline;
text-align: center;


}
h3{
    font-family:'Courier New', Courier, monospace;
color: darkred;


}
